---
title: Kheoh Yee Wei
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="description" content="Hello stranger :) I wouldn't know anything about you- no tracking, no nothing of that sort. Send me an email or whatever ❤️" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
